.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden; /* если используете на сайте position: sticky - уберите эту настройку */
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}