html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
}
h1, h2, h3,
h4, h5, h6{
  margin: 0;
}
p {
  margin: 0;
}
ul, ol{        
  /* Во избежание нервного срыва, лучше сбрасывать на конкретном элементе */
  margin: 0;
  /* padding: 0;*/
  /*list-style-type: none;*/
}
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
img{
  max-width: 100%;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

